<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">

      <h1>PREMIO A LA FILANTROPÍA</h1>
      <h3 class="yellow">REGISTRO DE OSC PARTICIPANTE</h3>
      <p class="red">
        * campos requeridos
      </p>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :ac_name, "Nombre de la AC" %> <span class="red">*</span>
        <%= f.text_field :ac_name, class: 'form-control', autofocus: 'autofocus' %>
        
        <h2>Datos de contacto</h2>

        <%= f.label :name, "Nombre" %> <span class="red">*</span>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %> <span class="red">*</span>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %> <span class="red">*</span>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :password_confirmation, "Confirma password" %> <span class="red">*</span>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :charge, "Cargo" %> <span class="red">*</span>
        <%= f.text_field :charge, class: 'form-control' %>        

        <%= f.label :address, "Direccion" %> <span class="red">*</span>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.label :phone, "Telefono" %> <span class="red">*</span>
        <%= f.text_field :phone, {maxlength: "15", class: 'form-control'} %>        
        <br>
        
        <!-- ADDED THIS -->

        <%= f.label :mission_vision, "Misión y visión" %>
        <%= f.text_area :mission_vision, {maxlength: "500", class: 'form-control'} %>
        <br>
        
        <%= f.label :yr_operation, "Años en operación" %>
        <%= f.text_field :yr_operation, class: 'form-control' %>
        <br>

        <%= f.label :programs_offered, "Programas de intervención – servicios que ofrecen" %>
        <%= f.text_area :programs_offered, {maxlength: "255", class: 'form-control'} %>
        <br>

        <%= f.label :achievements, "Resultados/Logros" %>
        <%= f.text_area :achievements, {maxlength: "500", class: 'form-control'} %>
        <br>

        <%= f.label :beneficiarios, "Número de Beneficiarios" %>
        <%= f.text_field :beneficiarios, class: 'form-control' %>
        <br>

        <%= f.label :comments, "Comentarios" %>
        <%= f.text_area :comments, class: 'form-control' %>

        <br>
        <%= f.label :logo, "Logotipo o foto" %>
        <%= f.file_field :logo, placeholder: "logo", class: "form-control" %>

        <!-- END ADDED THIS -->
        <br>
        <%= f.submit "Crea mi cuenta", class: "pull-right btn btn-success long" %>
      <% end %>
      
    </div>
  </div>
</div>