<div class="navbar navbar-default navbar-static-top" id="nav">
  <div class="container navbar-left">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class= "icon-bar"></span> 
      <span class= "icon-bar"></span>
      <span class= "icon-bar"></span>     
    </button>
     <a class="navbar-brand  navbar-collapse" href="/">
      <%#= link_to root_path do %>
        <%= image_tag "logo2.png", id: "logonav", class: "img-responsive" %>
      <%# end %>
    </a>  
    <div class= "collapse navbar-collapse navHeaderCollapse" id="navegacion">
      <ul id="listanav" class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
            Inicio
          <% end %>
        </li>
        <li>
          <%= link_to premio_path do %>
            Premio
          <% end %>
        </li>
        <li>
          <%= link_to ganadores_path do %>
            Ganadores
          <% end %>
        </li>
        <li>
          <%= link_to convocatoria_path do %>
            Convocatoria 2015
          <% end %>
        </li>
        <!-- <li>
          <%= link_to "#" do %>
            Quiero Donar/Quiero ser Aliado
          <% end %>
        </li> -->
        <li>
          <% if !logged_in? %>
            <%= link_to root_path do  %> <!-- #link_to new_user_path do -->
              Registra tu proyecto
            <% end %>
          <% else %>
            <%= link_to actions_proposal_path(current_user) do  %> <!-- #link_to edit_proyect_path(current_user.proyect) do -->
              Registra tu proyecto
            <% end %>
          <% end %>
        </li>
        <li>
          <% if logged_in? %>
            <%= link_to "Cerrar Session", logout_path, method: :delete %>
          <% else %>
            <%= link_to "Iniciar Session", login_path %>

          <% end %>
        </li>

      </ul>
    </div>
  </div>
</div>
<div class="separator"></div>