<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h2>3.1 Beneficiarios y Comunidades atendidas</h2>
      <hr>
      <%= form_for(@recipient) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :ben_group, "Grupo de beneficiarios" %>
        <%= f.select :ben_group, options_for_select(Proyect::SELECT_BENEF_GROUP.map {|opt| opt}, @recipient.ben_group), {include_blank: false}, {class: "form-control"} %>
        <br>

        <div class="row">
          <div class="col-md-6 pull-left">
            <%= f.label :ben_age_range, "Rango de edad (Desde)" %>
            <%= f.select :ben_age_range, options_for_select((1..100).step(1).to_a.map {|s| ["#{s}", s]}, @recipient.ben_age_range), {include_blank: false}, {class: "form-control"} %>
          </div>
          <div class="col-md-6">
            <%= f.label :ben_age_range2, "Rango de edad (Hasta)" %>
            <%= f.select :ben_age_range2, options_for_select((1..100).step(1).to_a.map {|s| ["#{s}", s]}, @recipient.ben_age_range2), {include_blank: false}, {class: "form-control"} %>
          </div>
        </div>
        <br>
          

        <div class="row">
          <div class="col-md-6 pull-left">
            <%= f.label :ben_risk, "Situación de riesgo / enfermedad" %>
            <%= f.select :ben_risk, options_for_select(Proyect::SELECT_BENEF_RISK.map {|opt| opt}, @recipient.ben_risk), {include_blank: false}, {class: "form-control"} %>
          </div>
          <div class="col-md-6">
            <%= f.label :ben_risk_exp, "¿Cuál?" %>
            <%= f.text_field :ben_risk_exp, class: 'form-control' %>
           </div>
        </div>
        <br>

        <%= f.label :ben_number, "¿Cuántos beneficiarios?" %>
        <%= f.number_field :ben_number, class: 'form-control', required: true %>
        <br>

        <div class="pull-right">
          <%= f.submit "Añadir Beneficiario", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
      <br>

      <h3>Beneficiarios</h3>
      <hr>
      <% @proyect.recipients.each do |recipient| %>
        <% if recipient != @proyect.recipients.last %>
        
          <%= recipient.ben_number %> <%= Proyect::READ_BENEF_GROUP[recipient.ben_group] %> de <%= recipient.ben_age_range %> a <%= recipient.ben_age_range2 %> años.

          <%= Proyect::READ_BENEF_RISK[recipient.ben_risk] %>
          
          <%= link_to "Borrar", recipient, class: "btn btn-danger btn-sm pull-right", method: :delete,
                                      data: {confirm: "¿Seguro que deseas eliminar este grupo de beneficiarios?" } %>

          <hr>
        <%end %>
      <% end %>

      De los <span id="recipients_number_id"><%= @proyect.beneficiarios %></span> beneficiarios:
      <br>
      <br>
      <%= form_for(@proyect, url: beneficiarios_update_proyect_path(@proyect)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <p>
          ¿Cuántos son eventuales?
        </p>
        <%= f.number_field :ben_part_eventual, class: 'form-control', required: true %>

        <p>
          ¿Cuántos son regulares?
        </p>
        <%= f.number_field :ben_part_regular, class: 'form-control', required: true %>
        <br>
        <br>
        <%= link_to "Atrás", eobjectives_proyect_path(@proyect), class: "btn btn-default" %>

        <div class="pull-right">
          <%= f.submit "Guardar", class: "btn btn-primary" %>
          <%= link_to "Siguiente", investment_proyect_path(@proyect), class: "btn btn-default" %>
        </div>
      <% end %>
      <br>
      <br>

    </div>
  </div>
</div>

