<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Acciones:
      </h3>
      <h4>
        ¿Qué acciones  o resumen de tareas tienes que llevar a cabo para lograrlo? (máximo 3 por objetivo) Resume por tareas afines
      </h4>
      <hr>
	</div>
  </div>
</div>
      <%= form_for(@section) do |f| %>
      		<table>
				<thead>
  					<tr>
    					<th colspan="2">Calendario de actividades 2015</th> 
    					<th> ¿Cuántas veces se realiza la acción en el año?</th> 
    					<th colspan="2">Sección 1</th>
    					<th colspan="2">Sección 2</th>
    					<th colspan="2">Sección 3</th>
    					<th colspan="2">Sección 4</th>
    					<th colspan="2">Sección 5</th>
    					<th colspan="2">Sección 6</th>
    					<th colspan="2">Sección 7</th>
    					<th colspan="2">Sección 8</th>
    					<th colspan="2">Sección 9</th>
    					<th colspan="2">Sección 10</th>
    					<th colspan="2">Sección 11</th>
    					<th colspan="2">Sección 12</th>
    					<tr border="0">
    						<th colspan="2"></th>
    						<th></th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    						<th>Fecha Inicio</th>
    						<th>Duración en días</th>
    					</tr>
  					</tr>
				</thead>
				<tbody>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 1.1 &nbsp <%= @proposal.action_1a %></td>
    					<td><%= f.number_field :times_action_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_1a, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_1a, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_1a, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 1.2 &nbsp <%= @proposal.action_1b %></td>
    					<td><%= f.number_field :times_action_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_1b, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 1.3 &nbsp <%= @proposal.action_1c %></td>
    					<td><%= f.number_field :times_action_1c, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_1b, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_1b, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_1b, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 2.1 &nbsp <%= @proposal.action_2a %></td>
    					<td><%= f.number_field :times_action_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_2a, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_2a, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_2a, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 2.2 &nbsp <%= @proposal.action_2b %></td>
    					<td><%= f.number_field :times_action_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_2b, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_2b, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_2b, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 2.3 &nbsp <%= @proposal.action_2c %></td>
    					<td><%= f.number_field :times_action_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_2c, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_2c, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_2c, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 3.1 &nbsp <%= @proposal.action_3a %></td>
    					<td><%= f.number_field :times_action_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_3a, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_3a, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_3a, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 3.2 &nbsp <%= @proposal.action_3b %></td>
    					<td><%= f.number_field :times_action_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_3b, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_3b, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_3b, class: 'form-control'%></td>
  					</tr>
  					<tr>
    					<td>Acción</td>
    					<td>&nbsp 3.3 &nbsp <%= @proposal.action_3c %></td>
    					<td><%= f.number_field :times_action_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section1_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section1_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section2_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section2_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section3_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section3_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section4_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section4_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section5_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section5_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section6_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section6_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section7_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section7_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section8_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section8_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section9_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section9_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section10_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section10_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section11_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section11_dias_3c, class: 'form-control'%></td>
    					<td><%= f.text_field :section12_fechaI_3c, class: 'form-control'%></td>
    					<td><%= f.number_field :section12_dias_3c, class: 'form-control'%></td>
  					</tr>
				</tbody>
			</table>
		<div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", methodologies_proposal_path(@proposal), class: "btn btn-default" %> 
        </div>
      <% end %>
<br>
<br>
<br>