<div class="container" id="contenedor_ganadores">
  <h1>GANADORES EDICIONES PASADAS</h1>
  <ul id="lista_ganadores">
    <li><a>2010</a>
    <li><a>2011</a>
    <li><a>2013</a>
    <li><a>2014</a>
  </ul>
</div>
<div class="container" id="medio_ambiente">
  <div class="row yellow">
    <div class="col-md-8">
      <h3>MEDIO AMBIENTE</h3>
    </div>
    <div class="col-md-4">
      <h3 id="">www.fondpaz.com</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>FONDO PARA LA PAZIAP</h2>
      <p>Agua potable y agricultura familiar en las comunidades indigenas de la Huasteca Potosina</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0001s_0000s_0000_Layer-21.png', width: "90%" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0001s_0000s_0001_Layer-23.png', width: "90%" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0001s_0000s_0002_Layer-24.png', width: "90%" %>
    </div>
  </div>
</div>
<div class="container" id="justicia_social">
  <div class="row yellow">
    <div class="col-md-8">
      <h3>JUSTICIA SOCIAL</h3>
    </div>
    <div class="col-md-4">
      <h3>www.oasis.com</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>OASIS ALZHEIMER GUADALUPE PALAU A.C.</h2>
      <p>Adquisición de equipo industrial para lavado de ropa y blancos para enfermos que se atienden en el Oasis en Sociedad de Graciano.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0002s_0000s_0000_Layer-26.png', width: "90%" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0002s_0000s_0001_Layer-27.png', width: "90%" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0002s_0000s_0002_Layer-28.png', width: "90%" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row yellow">
    <div class="col-md-8">
      <h3>EDUCACIÓN</h3>
    </div>
    <div class="col-md-4">
      <h3>www.juntos.org.mx</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>JUNTOS, UNA EXPERIENCIA COMPARTIDA, A.C.</h2>
      <p>EMPODERA: Programa de capacitación para personas con discapacidad para su inclusión laboral.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0003s_0000s_0000_Layer-29.png', width: "90%" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0003s_0000s_0001_Layer-30.png', width: "90%" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'nuevas3__0003s_0000s_0002_Layer-31.png', width: "90%" %>
    </div>
  </div>
  <h3>&nbsp; </h3>
</div>