<div class="contenedor-general">
  <div class="contenedor-carousel">
    <div id="myCarousel" class="carousel slide slide-left container" data-ride="carousel" width="100%" height="80%">
        <div id="carouselinner" class="carousel-inner" style:"overflow:hidden">
          <div id="imagen1" class="item active img-responsive">
            <%= image_tag "01.jpg", id: "homelogo", class: "img-responsive" %>
            <!-- <img src="layers/01.jpg" id="homelogo" class="img-responsive"> -->
          </div>
          <div id="imagen2" class="item img-responsive">
            <%= image_tag "02.png", id: "homelogo", class: "img-responsive" %>
            <!-- <img src="layers/02.png" id="homelogo" class="img-responsive"> -->
          </div>
          <div id="imagen3" class="item img-responsive">
            <%= image_tag "03.png", id: "homelogo", class: "img-responsive" %>
            <!-- <img src="layers/03.png" id="homelogo" class="img-responsive"> -->
          </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>
  </div>
  <div class="separator"></div>
  <!-- <div class="contenedor-interno"> -->
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <%= image_tag "04.png", id: "imagenes" %>
        <!-- <img src="layers/04.png" id="imagenes"> -->
      </div>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "05.png", id: "imagenes" %>
        <!-- <img src="layers/05.png" id="imagenes"> -->
      </div>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "06.png", id: "imagenes" %>
        <!-- <img src="layers/06.png" id="imagenes"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <%= image_tag "07.png", id: "imagenes" %>
        <!-- <img src="layers/07.png" id="imagenes"> -->
      </div>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "08.png", id: "imagenes" %>
        <!-- <img src="layers/08.png" id="imagenes"> -->
      </div>
      <div class="col-xs-6 col-md-4">
        <%= image_tag "09.png", id: "imagenes" %>
        <!-- <img src="layers/09.png" id="imagenes"> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>