<div class="container blue">
  <div class="container">
    <div id="header">
      <h1>PREMIO A LA FILANTROPÍA</h1>
      <h4>Historia</h4>
      <p class="text-justify">
        El premio a la Filantropía Potosina, tiene como propósito, apoyar proyectos, sin fines de lucro, que generen bienestar y mejoren las condiciones de vida de la comunidad potosina en tres categorías: Educación, Medio Ambiente y Justicia Social.
      </p>
    </div>
    <div class="row">
      <div class="padding-0">
        <%= image_tag 'premios1.png', width: "100%" %>
      </div>    
    </div> 
    <h1>MISIÓN Y VISIÓN DEL PREMIO</h1>
    <br>
    <p class="text-justify">
      El premio a la Filantropía Potosina, tiene como propósito, apoyar proyectos, sin fines de lucro, que generen bienestar y mejoren las condiciones de vida de la comunidad potosina en tres categorías: Educación, Medio Ambiente y Justicia Social. El premio a la Filantropía Potosina, tiene como propósito, apoyar proyectos, sin fines de lucro, que generen bienestar y mejoren las condiciones de vida de la comunidad potosina en tres categorías: Educación, Medio Ambiente y Justicia Social. El premio a la Filantropía Potosina, tiene como propósito, apoyar proyectos, sin fines de lucro, que generen bienestar y mejoren las condiciones de vida de la comunidad potosina en tres categorías: Educación, Medio Ambiente y Justicia Social. El premio a la Filantropía Potosina, tiene como propósito, apoyar proyectos, sin fines de lucro, que generen bienestar y mejoren las condiciones de vida de la comunidad potosina en tres categorías: Educación, Medio Ambiente y Justicia Social.
    </p>
  </div>
</div>