<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Acciones:
      </h3>
      <h4>
        ¿Qué acciones  o resumen de tareas tienes que llevar a cabo para lograrlo? (máximo 3 por objetivo) Resume por tareas afines
      </h4>
      <hr>
    </div>
  </div>
</div>
<%= form_for(@resource) do |f| %>
    <table>
      <thead>
      <tr>
        <th colspan="2">Calendario de actividades 2015</th>
        <th>Concepto</th>
        <th>Clasificación</th>
        <th>Nombre Proveedor 1</th>
        <th>Costo 1</th>
        <th>Nombre Proveedor 2</th>
        <th>Costo 2</th>
        <th>Nombre Proveedor 3</th>
        <th>Costo 3</th>
        <th>Proveedor Seleccionado</th>
        <th>Costo Seleccionado</th>
        <th>Total de recurso por acción</th>
        <th>Semana Inicio</th>
        <th>Semana Termino</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 1.1 &nbsp <%= @proposal.action_1a %></td>
        <td><%= f.text_field :concept1_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_1a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_1a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_1a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_1a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_1a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_1a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_1a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_1a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_1a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_1a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_1a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_1a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_1a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_1a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_1a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 1.2 &nbsp <%= @proposal.action_1b %></td>
        <td><%= f.text_field :concept1_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_1b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_1b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_1b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_1b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_1b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_1b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_1b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_1b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_1b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_1b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_1b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_1b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_1b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_1b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_1b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 1.3 &nbsp <%= @proposal.action_1c %></td>
        <td><%= f.text_field :concept1_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_1c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_1c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_1c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_1c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_1c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_1c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_1c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_1c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_1c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_1c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_1c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_1c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_1c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_1c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_1c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 2.1 &nbsp <%= @proposal.action_2a %></td>
        <td><%= f.text_field :concept1_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_2a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_2a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_2a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_2a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_2a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_2a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_2a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_2a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_2a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_2a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_2a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_2a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_2a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_2a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_2a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 2.2 &nbsp <%= @proposal.action_2b %></td>
        <td><%= f.text_field :concept1_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_2b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_2b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_2b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_2b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_2b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_2b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_2b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_2b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_2b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_2b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_2b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_2b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_2b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_2b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_2b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 2.3 &nbsp <%= @proposal.action_2c %></td>
        <td><%= f.text_field :concept1_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_2c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_2c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_2c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_2c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_2c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_2c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_2c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_2c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_2c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_2c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_2c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_2c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_2c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_2c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_2c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 3.1 &nbsp <%= @proposal.action_3a %></td>
        <td><%= f.text_field :concept1_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_3a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_3a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_3a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_3a, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_3a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_3a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_3a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_3a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_3a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_3a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_3a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_3a, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_3a, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_3a, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_3a, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 3.2 &nbsp <%= @proposal.action_3b %></td>
        <td><%= f.text_field :concept1_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_3b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_3b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_3b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_3b, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_3b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_3b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_3b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_3b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_3b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_3b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_3b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_3b, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_3b, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_3b, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_3b, class: 'form-control'%></td>
      </tr>
      <tr>
        <td rowspan="5">Acción</td>
        <td rowspan="5">&nbsp 3.3 &nbsp <%= @proposal.action_3c %></td>
        <td><%= f.text_field :concept1_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif1_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov1_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action1_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov1_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action1_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov1_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action1_3c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov1_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action1_3c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :total_cost_action_3c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_init_action_3c, class: 'form-control'%></td>
        <td rowspan="5"><%= f.number_field :week_fin_action_3c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept2_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif2_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov2_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action2_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov2_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action2_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov2_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action2_3c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov2_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action2_3c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept3_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif3_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov3_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action3_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov3_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action3_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov3_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action3_3c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov3_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action3_3c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept4_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif4_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov4_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action4_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov4_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action4_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov4_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action4_3c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov4_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action4_3c, class: 'form-control'%></td>
      </tr>
      <tr>
        <td><%= f.text_field :concept5_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :clasif5_action_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name1_prov5_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost1_action5_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name2_prov5_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost2_action5_3c, class: 'form-control'%></td>
        <td><%= f.text_field :name3_prov5_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :cost3_action5_3c, class: 'form-control'%></td>
        <td><%= f.text_field :selection_prov5_action_3c, class: 'form-control'%></td>
        <td><%= f.number_field :selection_cost_action5_3c, class: 'form-control'%></td>
      </tr>
      </tbody>
    </table>
    <div class="pull-right">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
      <%= link_to "Siguiente", summary_resource_path(@proposal), class: "btn btn-default" %>
    </div>
<% end %>
<br>
<br>
<br>