<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-2">
      <% flash.each do |message_type, message| %>
          <div class="text-center alert alert-dismissible alert-<%= message_type %>">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          </div>
      <% end %>
      <h1 class="text-center">Recursos Escogidos</h1>
      <hr>
      <% if @resource.concept1_action_1a? %>
      <div class="row">
        <div class="col-md-5">
          Acción 1.1
        </div>
        <div class="col-md-7">

        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Proveedor(es) Seleccionado(s)
        </div>
        <div class="col-md-7">
          <%= @resource.selection_prov1_action_1a %> <br>
          <%= @resource.selection_prov2_action_1a %> <br>
          <%= @resource.selection_prov3_action_1a %> <br>
          <%= @resource.selection_prov4_action_1a %> <br>
          <%= @resource.selection_prov5_action_1a %> <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Costo Total
        </div>
        <div class="col-md-7">
          <%= @resource.total_cost_action_1a %> <br>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-md-5">
          Dirección
        </div>
        <div class="col-md-7">
          <%= current_user.address %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Misión y Visión
        </div>
        <div class="col-md-7">
          <%= current_user.mission_vision %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Años en operación
        </div>
        <div class="col-md-7">
          <%= current_user.yr_operation %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Programas que ofrecen
        </div>
        <div class="col-md-7">
          <%= current_user.programs_offered %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>


      <br>
      <br>
      <% if @resource.concept1_action_1a? %>
          <hr>
          <%= link_to "Editar", new_resource_path, class: "btn btn-default" %>
          <div class="pull-right">
            <%= link_to "Continuar", root_path, data: {confirm: "¿Has revisado todos los campos? Una vez enviado no se podrá editar"}, class: "btn btn-success" %>

          </div>
          <hr>
      <% end %>

    </div> <!-- end col-md-10 col-xs-12 col-md-offset-2 -->

  </div> <!-- end main row -->
</div> <!-- end container -->

<br>
<br>
<br>