<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h2>3.1 Beneficiarios y Comunidades atendidas</h2>
      <hr>
      <%= form_for(@proyect, url: beneficiarios_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :ben_group, "Grupo de beneficiarios" %>
        <%= f.select :ben_group, options_for_select(Proyect::SELECT_BENEF_GROUP.map {|opt| opt}, @proyect.ben_group), {include_blank: false}, {class: "form-control"}, required: true %>
        <br>

        <div class="row">
          <div class="col-md-6 pull-left">
            <%= f.label :ben_age_range, "Rango de edad (Desde)" %>
            <%= f.select :ben_age_range, options_for_select((1..100).step(1).to_a.map {|s| ["#{s}", s]}, @proyect.ben_age_range), {include_blank: false}, {class: "form-control"} %>
          </div>
          <div class="col-md-6">
            <%= f.label :ben_age_range2, "Rango de edad (Hasta)" %>
            <%= f.select :ben_age_range2, options_for_select((1..100).step(1).to_a.map {|s| ["#{s}", s]}, @proyect.ben_age_range2), {include_blank: false}, {class: "form-control"} %>
          </div>
        </div>
        <br>
          

        <div class="row">
          <div class="col-md-6 pull-left">
            <%= f.label :ben_risk, "Situación de riesgo / enfermedad" %>
            <%= f.select :ben_risk, options_for_select(Proyect::SELECT_BENEF_RISK.map {|opt| opt}, @proyect.ben_risk), {include_blank: false}, {class: "form-control"} %>
          </div>
          <div class="col-md-6">
            <%= f.label :ben_risk_exp, "¿Cuál? (en caso de seleccionar Otra)" %>
            <%= f.text_field :ben_risk_exp, class: 'form-control' %>
           </div>
        </div>
        <br>

        <%= f.label :ben_number, "¿Cuántos beneficiarios?" %>
        <%= f.number_field :ben_number, class: 'form-control' %>
        <br>

        <%= link_to "Atrás", eobjectives_proyect_path(@proyect), class: "btn btn-default" %>
        <%= f.submit "Siguiente", class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</div>

