<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
    
      <h1 class="text-center">Información General</h1>
      <hr>
      <%= form_for(@proyect) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <p>
          Nombre del Proyecto
        </p>
        <%= f.text_field :name, class: 'form-control', required: true %>
        <br>
        <p>
          Temática a participar
        </p>
        
        <%= f.radio_button :topic, '0' %> 
        <%= label :topic, 'Educacion' %>

        <%= f.radio_button :topic, '1' %>
        <%= label :topic, 'Justicia Social' %>

        <%= f.radio_button :topic, '2' %>
        <%= label :topic, 'Medio Ambiente' %>

        <br>
        <br>
        <br>
        <p>
            ¿Es una petición para mejorar un programa ya existente o es un proyecto o programa nuevo?
        </p>


        <%= f.radio_button :existent_new, '0' %>
        <%= label :topic, 'Petición para mejorar un programa o proyecto ya existente' %>
        <br>

        <%= f.radio_button :existent_new, '1' %>
        <%= label :topic, 'Proyecto o programa nuevo' %>

        <br>
        <%#= f.collection_radio_buttons :topic, options_for_select(Proyect::SELECT_TOPIC.map {|opt| opt}, @proyect.topic), {include_blank: false}, {class: "form-control"} %>
        <br>
        <br>
        <% if @proyect.logo.exists? %>
            <%= image_tag(@proyect.logo.url, width: "300px") %> 
        <% end %>
        <div class="pull-right">
            
            <%= f.submit "Guardar", class: "btn btn-primary" %>


            <% if @proyect.is_new? %>
                <%= link_to "Siguiente", justificacion_proyect_path(@proyect), class: "btn btn-default" %>
            <% else %>
                <%= link_to "Siguiente", petition_proyect_path(@proyect), class: "btn btn-default" %>

            <% end %>
        </div>

        
      <% end %>
    </div>
  </div>
</div>