<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        2.2 Objetivo específico:
      </h3>
      <h4>
        ¿Qué distintas actividades vas a poner en práctica para lograr tu objetivo General? <br>
        (Mínimo 1 - Máximo 3 Objetivos)
      </h4>
      <hr>
      <%= form_for(@proyect, url: eobjectives_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%#= f.label :col_oe1, "Objetivo Específico 1" %>
        <%#= f.text_field :col_oe1, class: 'form-control', required: true %>
        <p>Objetivo Específico 1</p>
        <%= f.label :col_oe1_a, "Actividad secundaria o derivada en ar, er, ir" %>
        <%= f.text_field :col_oe1_a, class: 'form-control', required: true %>
        <%= f.label :col_oe1_b, "¿Cuál es el principal beneficio que vas a lograr?" %>
        <%= f.text_field :col_oe1_b, class: 'form-control', required: true %>
        <%= f.label :col_oe1_c, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
        <%= f.text_field :col_oe1_c, class: 'form-control', required: true %>
        <%= f.label :col_oe1_d, "¿En dónde? Municipio, colonia" %>
        <%= f.text_field :col_oe1_d, class: 'form-control', required: true %>
        <%= f.label :col_oe1_e, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
        <%= f.text_field :col_oe1_e, class: 'form-control', required: true %>
        <br>

        <%#= f.label :col_oe2, "Objetivo Específico 2" %>
        <%#= f.text_field :col_oe2, class: 'form-control' %>
        <p>Objetivo Específico 2</p>
        <%= f.label :col_oe2_a, "Actividad secundaria o derivada en ar, er, ir" %>
        <%= f.text_field :col_oe2_a, class: 'form-control' %>
        <%= f.label :col_oe2_b, "¿Cuál es el principal beneficio que vas a lograr?" %>
        <%= f.text_field :col_oe2_b, class: 'form-control' %>
        <%= f.label :col_oe2_c, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
        <%= f.text_field :col_oe2_c, class: 'form-control' %>
        <%= f.label :col_oe2_d, "¿En dónde? Municipio, colonia" %>
        <%= f.text_field :col_oe2_d, class: 'form-control' %>
        <%= f.label :col_oe2_e, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
        <%= f.text_field :col_oe2_e, class: 'form-control' %>
        <br>

        <%#= f.label :col_oe3, "Objetivo Específico 3" %>
        <%#= f.text_field :col_oe3, class: 'form-control' %>
        <p>Objetivo Específico 3</p>
        <%= f.label :col_oe3_a, "Actividad secundaria o derivada en ar, er, ir" %>
        <%= f.text_field :col_oe3_a, class: 'form-control' %>
        <%= f.label :col_oe3_b, "¿Cuál es el principal beneficio que vas a lograr?" %>
        <%= f.text_field :col_oe3_b, class: 'form-control' %>
        <%= f.label :col_oe3_c, "¿Para quienes? Mujeres, niños, edad, discapacitados" %>
        <%= f.text_field :col_oe3_c, class: 'form-control' %>
        <%= f.label :col_oe3_d, "¿En dónde? Municipio, colonia" %>
        <%= f.text_field :col_oe3_d, class: 'form-control' %>
        <%= f.label :col_oe3_e, "¿Cómo? A través de capacitación, consultas, equipar, etc." %>
        <%= f.text_field :col_oe3_e, class: 'form-control' %>
        <br>

        <%= link_to "Atrás", gobjectives_proyect_path(@proyect), class: "btn btn-default" %>
        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", new_recipient_path, class: "btn btn-default" %>
            
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>