<div class="container">
  <br>
  <br>
  <table class="table" id="index_table">
    <thead>
      <tr>
        <th>Nombre AC</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @proyects.each do |proyect| %>
        <tr class="fas" data-link="<%= proyect_path(proyect) %>">
          <td><%= proyect.user.ac_name %></td>
          <td><%= proyect.user.email %></td>
          <td class="text-center"><%= link_to "Ver Detalles", proyect_path(proyect), class: "btn btn-sm btn-default" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>