<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
    <h2>4.1 Conceptos resumidos y monto total de la inversión solicitada</h2>
    <hr>
    <%= form_for(@proyect, url: investment_update_proyect_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <%#= f.label :investment_a, "Aportaciones monetarias:" %>
        <%#= f.text_field :investment_a, class: 'form-control', required: true %>
        <p>Aportaciones monetarias:</p>
        <br>
        <%= f.label :investment_b, "Construcción u obra civil:" %>
        <%= f.text_field :investment_b, class: 'form-control', required: true %>
        <br>
        <%= f.label :investment_c, "Equipamiento y materiales:" %>
        <%= f.text_field :investment_c, class: 'form-control', required: true %>
        <br>
        <%= f.label :investment_d, "Honorarios:" %>
        <%= f.text_field :investment_d, class: 'form-control', required: true %>
        <br>
        <%= f.label :investment_e, "Otro concepto:" %>
        <%= f.text_field :investment_e, class: 'form-control', required: true %>
        <br>
        <%= f.label :investment_f, "Otras aportaciones ‘en especie’ puede ser tiempo:" %>
        <%= f.text_field :investment_f, class: 'form-control', required: true %>
        <br>
        <%= f.label :investment_sum, "Total:" %>
        <%= f.text_field :investment_sum, class: 'form-control', required: true %>
        <br>
        <br>

        <h2>4.2 Tiempo total de implementación del proyecto en semanas:</h2>
        <hr>

        <%= f.label :total_weeks, "Total de semanas:" %>
        <%= f.select :total_weeks, options_for_select((1..52).step(1).to_a.map {|s| ["#{s}", s]}, @proyect.total_weeks), {include_blank: false}, {class: "form-control"} %>
        <%#= f.number_field :total_weeks, class: 'form-control', required: true %>
        <br>

        <%= link_to "Atrás", new_recipient_path, class: "btn btn-default" %>


        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", continuity_proyect_path(@proyect), class: "btn btn-default" %>
            
        </div>


      <% end %>  
        <br>
        <br>
        <br>

    </div>
  </div>
</div>