<%= javascript_include_tag 'petition' %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
      <h2>PARA PETICIONES</h2>
      <h3>Sección 1.2 - Justificación  a una petición </h3>
      <%= form_for(@proyect, url: petition_update_proyect_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <h3>¿Por qué es importante esta mejora para el programa o proyecto descrito?</h3>
        <br>

        <%= check_box_tag 'check_a', '', !@proyect.improvement_importance_a.empty? %>
        Aumentar la capacidad de atención de beneficiarios en los programas o servicios actuales.
        <%= f.text_field :improvement_importance_a, class: 'form-control' %>
        <br>
        <br>

        <%= check_box_tag 'check_b', '', !@proyect.improvement_importance_b.empty? %>
        Mejora la calidad de atención ¿cómo?
        <%= f.text_field :improvement_importance_b, class: 'form-control' %>
        <br>
        <br>

        <%= check_box_tag 'check_c', '', !@proyect.improvement_importance_c.empty? %>
        Mejoró mi operación interna ¿Cómo?
        <%= f.text_field :improvement_importance_c, class: 'form-control' %>
        <br>
        <br>

        <%= check_box_tag 'check_d', '', !@proyect.improvement_importance_d.empty? %>
        Generó un ahorro a mis gastos ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad?
        <%= f.text_field :improvement_importance_d, class: 'form-control' %>
        <br>
        <br>


        <%= check_box_tag 'check_e', '', !@proyect.improvement_importance_e.empty? %>
        Generó un ingreso nuevo ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad? ¿Quién es mi cliente? ¿cómo tengo seguro que sea mi cliente?
        <%= f.text_field :improvement_importance_e, class: 'form-control' %>
        <br>
        <br>


        <%= check_box_tag 'check_f', '', !@proyect.improvement_importance_f.empty? %>
        Otro. ¿Cuál?
        <%= f.text_field :improvement_importance_f, class: 'form-control' %>
        <br>
        <br>



        <%= link_to "Atrás", edit_proyect_path(@proyect), class: "btn btn-default" %>
        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", gobjectives_proyect_path(@proyect), class: "btn btn-default" %>
            
        </div>
      <% end %>

    </div>
  </div>
</div>
<br>
<br>
<br>