<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-2">
      <% flash.each do |message_type, message| %>
        <div class="text-center alert alert-dismissible alert-<%= message_type %>">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
        </div>
      <% end %>
      <h1 class="text-center">Resumen de Proyecto</h1>
      <hr>
      <div class="row">
        <div class="col-md-5">
          Nombre de la AC
        </div>
        <div class="col-md-7">
          <%= current_user.ac_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Nombre de contacto
        </div>
        <div class="col-md-7">
          <%= current_user.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Cargo de contacto
        </div>
        <div class="col-md-7">
          <%= current_user.charge %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Dirección
        </div>
        <div class="col-md-7">
          <%= current_user.address %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Misión y Visión
        </div>
        <div class="col-md-7">
          <%= current_user.mission_vision %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Años en operación
        </div>
        <div class="col-md-7">
          <%= current_user.yr_operation %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Programas que ofrecen
        </div>
        <div class="col-md-7">
          <%= current_user.programs_offered %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros          
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Temática a participar
        </div>
        <div class="col-md-7">
          <%= Proyect::READ_TOPIC[@proyect.topic] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Es una petición para mejorar un programa ya existente o es un proyecto o programa nuevo?
        </div>
        <div class="col-md-7">
          <%= Proyect::READ_EXISTENT_NEW[@proyect.existent_new] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Logros          
        </div>
        <div class="col-md-7">
          <%= current_user.achievements %>
        </div>
      </div>

      <% if !@proyect.is_new? %>
        <h3>Justificación para petición</h3>
        <h4>¿Por qué es importante esta mejora para el programa o proyecto descrito?</h4>

        <div class="row">
          <div class="col-md-5">
            Aumentar la capacidad de atención de beneficiarios en los programas o servicios actuales. Si/No
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Mejora la calidad de atención ¿cómo?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Mejoró mi operación interna ¿Cómo?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Generó un ahorro a mis gastos ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Generó un ingreso nuevo ¿cómo, mediante qué acciones y metodología?, ¿cuánto, qué cantidad? ¿Quién es mi cliente? ¿cómo tengo seguro que sea mi cliente?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_e %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Otro. ¿Cuál?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_f %>
          </div>
        </div>
        <h3>Objetivo General y Específico</h3>
        <div class="row">
          <div class="col-md-5">
            ¿Qué estas pidiendo? Descripción de conceptos o actividad principal redactada en ar, er, ir
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_a %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            Para mejorar ¿qué proyecto/ programa o servicio? ¿Qué ofrece este programa o servicio?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cuánto tiempo tienes operando el proyecto/programa u ofreciendo el servicio?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo vas a mejorar el proyecto/programa o servicio? ¿cuál es la situación actual  y cómo va a ser diferente después de la implementación de esta mejora?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo vas a medir esa mejora?, ¿en cuánto tiempo?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_211_e %>
          </div>
        </div>






      <% else %>
        <h3>Justificación (PROGRAMA / PROPUESTA NUEVA)</h3>
        <div class="row">
          <div class="col-md-5">
            ¿De dónde surge la idea?
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_IDEA_EMERGE[@proyect.idea_emerge] %>
            <%= ": " + @proyect.idea_emerge_exp if @proyect.idea_emerge == 2 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Otro. ¿Cuál?
          </div>
          <div class="col-md-7">
            <%= @proyect.improvement_importance_f %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            El proyecto forma parte de una necesidad detectada en la comunidad. Se llevó a cabo:
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_PROCEDURE_TAKEN[@proyect.procedure_taken] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Por qué es importante este proyecto o programa para la organización?
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_IMPORTANCE[@proyect.importance.to_i] %>
          </div>
        </div>
        <h3>
          Objetivo general (programa Nuevo)
        </h3>
        <div class="row">
          <div class="col-md-5">
            ¿Cuál es la actividad principal que vas a emprender? Actividad principal redactada en ar, er, ir
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_a %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Para cambiar qué situación?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_b %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Obtener qué beneficio? ¿Cuál es el principal beneficio que vas a lograr?
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_c %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Para quienes? Mujeres, niños, edad, discapacitados
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_d %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿En dónde? Municipio, colonia.
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_e %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            ¿Cómo? A través de capacitación, consultas, equipar, etc.
          </div>
          <div class="col-md-7">
            <%= @proyect.col_212_f %>
          </div>
        </div>
      <% end %>
      <h3>Objetivos Específicos</h3>
      <div class="row">
        <br>
        <div class="col-md-5">
          <b>Objetivo Específico 1</b>
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Actividad secundaria o derivada en ar, er, ir
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_a %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cuál es el principal beneficio que vas a lograr?
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_b %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Para quienes? Mujeres, niños, edad, discapacitados
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_c %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿En dónde? Municipio, colonia
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_d %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cómo? A través de capacitación, consultas, equipar, etc.
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe1_e %>
        </div>
      </div>

      <div class="row">
        <br>
        <div class="col-md-5">
          <b>Objetivo Específico 2</b>
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Actividad secundaria o derivada en ar, er, ir
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2_a %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cuál es el principal beneficio que vas a lograr?
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2_b %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Para quienes? Mujeres, niños, edad, discapacitados
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2_c %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿En dónde? Municipio, colonia
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2_d %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cómo? A través de capacitación, consultas, equipar, etc.
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe2_e %>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-5">
          <b>Objetivo Específico 3</b>
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe3 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Actividad secundaria o derivada en ar, er, ir
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe3_a %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cuál es el principal beneficio que vas a lograr?
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe3_b %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Para quienes? Mujeres, niños, edad, discapacitados
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe3_c %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿En dónde? Municipio, colonia
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe3_d %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          ¿Cómo? A través de capacitación, consultas, equipar, etc.
        </div>
        <div class="col-md-7">
          <%= @proyect.col_oe3_e %>
        </div>
      </div>

      <hr>
      <h3>Beneficiarios</h3>
      <% @proyect.recipients.each do |recipient| %>
        <div class="row">
          <div class="col-md-5">
            Grupo de beneficiarios
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_BENEF_GROUP[recipient.ben_group] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Desde
          </div>
          <div class="col-md-7">
            <%= recipient.ben_age_range %> años
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Hasta
          </div>
          <div class="col-md-7">
            <%= recipient.ben_age_range2 %> años.
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Situación de riesgo
          </div>
          <div class="col-md-7">
            <%= Proyect::READ_BENEF_RISK[recipient.ben_risk] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            Número de beneficiarios
          </div>
          <div class="col-md-7">
            <%= recipient.ben_number %>
          </div>
        </div>
        <br>
      <% end %>
      <hr>
      <h3>Conceptos resumidos y monto total de la inversión solicitada</h3>
      <div class="row">
        <div class="col-md-5">
          Aportaciones monetarias:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_a %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Construcción u obra civil:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_b %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Equipamiento y materiales:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_c %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Honorarios:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_d %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Otro concepto:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_e %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Otras aportaciones ‘en especie’ puede ser tiempo:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_f %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Total:
        </div>
        <div class="col-md-7">
          <%= @proyect.investment_sum %>
        </div>
      </div>
      <hr>
      <h3>Tiempo total de implementación del proyecto en semanas:</h3>
      <div class="row">
        <div class="col-md-5">
          Total de semanas:
        </div>
        <div class="col-md-7">
          <%= @proyect.total_weeks %>
        </div>
      </div>
      <h3>Continuidad del Proyecto</h3>
      <div class="row">
        <div class="col-md-5">
          Acción          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_action1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Indicador          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_indicator1 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Responsable          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_responsible1 %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          Acción          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_action2 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Indicador          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_indicator2 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Responsable          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_responsible2 %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
          Acción          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_action3 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Indicador          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_indicator3 %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Responsable          
        </div>
        <div class="col-md-7">
          <%= @proyect.col_continuity_responsible3 %>
        </div>
      </div>
      <br>
      <br>
      <% if @proyect.editable? %>
        <hr>
        <%= link_to "Editar", edit_proyect_path(@proyect), class: "btn btn-default" %>
        <div class="pull-right">
          <%= link_to "Enviar", close_proyect_proyect_path(@proyect), data: {confirm: "¿Has revisado todos los campos? Una vez enviado no se podrá editar"}, class: "btn btn-success" %>
          
        </div>
        <hr>
      <% end %>

    </div> <!-- end col-md-10 col-xs-12 col-md-offset-2 -->

  </div> <!-- end main row -->
</div> <!-- end container -->

<br>
<br>
<br>