<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>
        Acciones:
      </h3>
      <h4>
        ¿Qué acciones  o resumen de tareas tienes que llevar a cabo para lograrlo? (máximo 3 por objetivo) Resume por tareas afines
      </h4>
      <hr>
      <%= form_for(@proposal) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%#= f.label :col_oe1, "Objetivo Específico 1" %>
        <%#= f.text_field :col_oe1, class: 'form-control', required: true %>
        <p>Objetivo Específico 1</p>
        <%= f.label :action_1a, "Acción 1.1" %>
        <%= f.text_field :action_1a, class: 'form-control', required: true %>
        <%= f.label :action_1b, "Acción 1.2" %>
        <%= f.text_field :action_1b, class: 'form-control', required: true %>
        <%= f.label :action_1c, "Acción 1.3" %>
        <%= f.text_field :action_1c, class: 'form-control', required: true %>
        <br>

        <%#= f.label :col_oe2, "Objetivo Específico 2" %>
        <%#= f.text_field :col_oe2, class: 'form-control' %>
        <p>Objetivo Específico 2</p>
        <%= f.label :action_2a, "Acción 2.1" %>
        <%= f.text_field :action_2a, class: 'form-control' %>
        <%= f.label :action_2b, "Acción 2.2" %>
        <%= f.text_field :action_2b, class: 'form-control' %>
        <%= f.label :action_2c, "Acción 2.3" %>
        <%= f.text_field :action_2c, class: 'form-control' %>
        <br>

        <%#= f.label :col_oe3, "Objetivo Específico 3" %>
        <%#= f.text_field :col_oe3, class: 'form-control' %>
        <p>Objetivo Específico 3</p>
        <%= f.label :action_3a, "Acción 3.1" %>
        <%= f.text_field :action_3a, class: 'form-control' %>
        <%= f.label :action_3b, "Acción 3.2" %>
        <%= f.text_field :action_3b, class: 'form-control' %>
        <%= f.label :action_3c, "Acción 3.3" %>
        <%= f.text_field :action_3c, class: 'form-control' %>
        <br>

        <div class="pull-right">
            <%= f.submit "Guardar", class: "btn btn-primary" %>
            <%= link_to "Siguiente", new_section_path, class: "btn btn-default" %>
            
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>