<!DOCTYPE html>
<html>
<head>
  <title>Cummins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <meta charset="UTF-8">


  <!-- <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel='stylesheet'> -->
  <!-- <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"> -->


  <%= csrf_meta_tags %>
</head>
<body>
  <%= Gon::Base.render_data({}) %>

  <%= render 'shared/navbar' %>
  <%= yield %>

</body>
</html>
